$primaryColor: #5014ad;
$secondaryColor: #8e13a6;
$tertiaryColor: #c5109a;
$quaternaryColor: #f22379;
$quinaryColor: #ff3067;
$blackColor: rgba(0, 0, 0, .87);
$whiteColor: #ffffff;

$fontRegular: 400;
$fontMedium: 600;
$fontBold: 700;