@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

$primaryColor: #5014ad; // Main color
$secondaryColor: #8e13a6; // Secondary color
$tertiaryColor: #c5109a; // Tertiary color
$quaternaryColor: #f22379; // Quaternary color
$quinaryColor: #ff3067; // Quinary color

body {
    background-color: #E2D9F4;
}

.default-padding {
    padding: 4rem;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-140 {
    margin-top: 140px;
}

.mt-150 {
    margin-top: 150px;
}

.wrapper {
    max-width: 1700px;
    margin: auto;
}

.section_title {
    font-weight: 800;
}

.section_subtitle {
    font-weight: 800;
}